-r face_detection_and_extraction/requirements/common.txt
-r face_detection_and_extraction/requirements/blazeface.txt
-r face_detection_and_extraction/requirements/mobile_facenet.txt
-r face_detection_and_extraction/requirements/mtcnn.txt
-r face_detection_and_extraction/requirements/opencv.txt
-r face_detection_and_extraction/requirements/openvino.txt
-r face_detection_and_extraction/requirements/trt_server.txt
-r face_detection_and_extraction/requirements/yolov5-face.txt
-r similar_face_filtering/requirements.txt
